/*background color #e6d7ff*/
/*primary color #4d1b7b*/
/*supporting color #363b74*/

/*page layout*/
* {
  box-sizing: border-box;
}

/*header format*/
.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
}
/*^this doesn't seem to be working... rather than nav bar shrinking it wraps*/

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

/* clears the float components from the footer */
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/*home page format*/
/* body format */
.profile {
  max-width: 700px;
  margin: 0 auto;
  /*may need to revisit max width so works better on mobile device??*/
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 25%;
}

/*about page format*/
/* body format */
.About_info {
  max-width: 700px;
  margin: 0 auto;
}

#about.title {
  text-align: center; /*this isn't working*/
}
/*picture container size*/
.about-image-container {
  max-width: 700px;
  height: 401px;
  margin: 0 auto;
  vertical-align: top;
  padding: 0;
}

.about-image-container > svg {
  width: 100%;
  height: 401px;
  display: block;
}

/*samples page format*/
/*create grid*/
.page-title {
  width: 100%;
  text-align: center;
}

.grid {
  width: 100%; /*ensures columns take up whole container*/
  max-width: 900px; /*trying to make max width container so never more than 3 columns*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /*I feel like I need to remove this to have them wrap on smaller screens but can't figure out
            how to get the 3 columns on bigger screens without this*/
  grid-gap: 20px;
  margin: 0 auto;
  text-align: center;
  /*this margin piece is not centering the grid....*/
}

.grid__item {
  padding: 15px;
  min-width: 300px; /*trying to make sure does not shrink below 300px on small screens*/
  max-width: 300px; /*trying to make sure does not get bigger than 300px on big screens*/
}

.grid__item-portfolio-pic {
  width: 200px;
  height: 200px;
}

/*contact page format*/
.Contact_info {
  max-width: 700px;
  margin: 10px auto;
  background-color: var(--primary-color);
  color: white;
  border-radius: 5%;
  padding: 15px;
  box-shadow: 10px 10px 5px #c6a4ff;
  text-align: center;

  /*how do I get text to align left but have the div container centered in middle of page? And I want width of container to fit the content*/
}

.Contact_info__text {
  text-align: center;
}

.Contact_info__h1 {
  margin: 0 auto;
}

.call-to-action {
  font-weight: var(--boldfont);
}
/*back ground colors*/
:root {
  --primary-color: #4d1b7b;
  --secondary-color: #363b74;
  --background-color: #e6d7ff;
}

body {
  background-color: var(--background-color);
} /*lilac*/
header {
  background-color: white;
}
footer {
  background-color: var(--background-color);
}

/*Samples page grid colors*/
.grid__item {
  background-color: var(--primary-color);
}

/*font type and line height*/
:root {
  --boldfont: 700;
  --standardfontweight: 300;
}

body {
  font-family: "Roboto-mono", sans-serif;
  font-weight: var(--standardfontweight);
  font-size: 16px;
  line-height: 1.6;
}

.engineering-text {
  color: darkgoldenrod;
  background-color: #222222;
}

.page-header {
  font-weight: var(--boldfont);
}

.professionalbackground__item {
  line-height: 1.3;
}

#contact-form {
  line-height: 3;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}
h2 {
  font-size: 24px;
  font-weight: 700;
}
h3 {
  font-size: 18px;
  font-weight: 700;
}

/*font colors*/
a {
  color: #000;
}
a:visited {
  color: var(--secondary-color);
}
a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}
a:active {
  color: #000;
}

.grid {
  color: white;
}

.grid__item {
  color: white;
}

.grid__item-link {
  color: white;
}

.grid__item-link:visited {
  color: white;
}

.grid__item-link:active {
  color: white;
}

/*button types*/
button,
.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #4d1b7b;
  color: white;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  transition-property: opacity;
}

button:visited,
.button:visited {
  color: white;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.form-submit-button {
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: white;
  color: var(--primary-color);
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.form-submit-button:hover,
.form-submit-button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.error-message {
  color: orange;
  font-size: 0.8em;
}

/* link behavior */
.navigation-list__item--active {
  text-decoration: none;
}

/* animation */
@keyframes sun-move {
  from {
    transform: translate(0, 0px);
  }
  to {
    transform: translate(0, -50px);
  }
}
.sun1 {
  animation: 4s sun-move infinite alternate linear;
}

/*responsive on small screens*/

/*about page*/
@media all and (max-width: 500px) {
  .profile {
    width: 100%;
    padding: 10px;
    max-width: 300px;
    margin: 0 auto;
  }
  .profile__portrait {
    max-width: 200px;
    float: none;
  }
}

/*samples page*/
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  h1 {
    font-size: 22px;
  }
}
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
